

div[data-slot="tabList"] {
    background-color: #3f3f46;
  }

  div[data-slot="tab"] {
    color:white;
  }

  div[data-slot="tabContent"]{
    color:#FF014D;
  }

span[data-slot="cursor"] {
    background-color: #1F2125;

  }
